.card {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}
  /* styling the card image  */
.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}
/* styling the headers */
.card-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
/* styling the headers */
.card-content h2,
.card-content h3 {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.card-content p {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
/* styling the attendees info card  */
.attendees-info {
  font-size: 14px;
  font-weight: 500;
  color: #007bff;
  font-family: "Poppins", sans-serif;
}
